<table class="topic" summary="Topic thread">
  <tr>
    <td class="maintitle">
      <h1>
        <%= @topic.title %>
      </h1>
      <table class="messages" summary="Topic messages">
        <%= render @messages %>
      </table>
    </td>
  </tr>
</table>
